
* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: black;
    color: white;

}

span {
    color: cyan;
}

h2 {
    background-color: blueviolet;
    color: white;
    text-align: center;
}

h3 {
    background-color: lightskyblue;
    text-decoration: underline;
    text-align: right;
}